body {
  font-family: "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #EBEBEB;
  text-align: left;
  background-color: #2B3E50;
}
img {
  vertical-align: middle;
}
a {
  color: #f0ad4e;
}
.header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.header h1 {
  font-family: "Roboto", sans-serif;
}
@media only screen and (min-width: 601px) {
  .header h1 {
    font-size: 50pt;
    font-weight: 700;
  }
}
.border-fix {
  padding: 10px;
  border: 7px solid #0f9;
  color: #0f9;
  display: inline;
}
.header-inner {
  font-size: 12pt;
  line-height: 175%;
  padding: 15px;
  height: auto;
  align-items: center;
  max-width: 60ch;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
@media only screen and (min-width: 601px) {
  .header-inner {
    font-size: 14pt;
    padding: 30px;
  }
}
.address {
  text-decoration: underline;
  color: #f0ad4e;
  font-size: 9pt;
  font-weight: 700;
  line-height: 200%;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 675px) and (min-width: 441px) {
  .address {
    font-size: 13pt;
  }
}
@media only screen and (min-width: 676px) {
  .address {
    font-size: 20pt;
  }
}
.statbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.statbox {
  border: 2px solid #0f9;
  display: inline-block;
  margin: 10px;
}
@media only screen and (min-width: 601px) {
  .statbox {
    border: 4px solid #0f9;
    display: inline-block;
    margin: 15px;
  }
}
ul {
  font-size: 10pt;
  text-align: center;
  list-style: none;
  margin: 8px;
  -webkit-padding-start: 0px;
}
@media only screen and (min-width: 601px) {
  ul {
    font-size: 12pt;
    margin: 15px;
  }
}
@media only screen and (min-width: 601px) {
.statbox-head {
   font-size: 15pt;
 }
}
.dapp-icon-wrapper {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
@media only screen and (min-width: 601px) {
  .dapp-icon-wrapper {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
}
.divTable {
  display: table;
  border: 2px solid #0f9;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 601px) {
  .divTable {
    border: 4px solid #0f9;
  	width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	display: table-header-group;
}
.divTableHeadCell {
  font-size: 10pt;
  display: table-cell;
  padding: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 2px solid grey;
}
@media only screen and (min-width: 601px) {
  .divTableHeadCell {
    font-size: 15pt;
    border-bottom: 3px solid grey;
  }
}
.divTableCell {
  font-size: 9pt;
  display: table-cell;
  align-items: center;
  padding: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
@media only screen and (min-width: 601px) {
  .divTableCell {
    font-size: 12pt;
  }
}
@media only screen and (min-width: 601px) {
  .divTableCell {
  	display: table-cell;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
}
.divTableRowHead {
  font-size: 9pt;
  display: table-cell;
  align-items: center;
  padding: 15px;
  padding-right: 0px;
}
@media only screen and (min-width: 601px) {
  .divTableRowHead {
    font-size: 13pt;
  }
}
.divTableHeading {
	display: table-header-group;
}
.divTableBody {
	display: table-row-group;
}
.byline, .byline a {
  font-size: 8pt;
  color: #EBEBEB;
  text-align: center;
}
